@page "/pizzas"
@using BlazingPizza.Data
@inject PizzaService PizzaSvc

@if (serverPizzas == null){
    <p>We're finding out what pizzas are available today...</p>
}
else{
    <table>
 <thead>
  <tr>
   <th>Pizza Name</th>
   <th>Description</th>
   <th>Vegetarian?</th>
   <th>Vegan?</th>
   <th>Price</th>
  </tr>
 </thead>
 <tbody>
  @foreach (var pizza in serverPizzas)
  {
   <tr>
    <td>@pizza.Name</td>
    <td>@pizza.Description</td>
    <td>@pizza.Vegetarian</td>
    <td>@pizza.Vegan</td>
    <td>@pizza.BasePrice</td>
   </tr>
  }
 </tbody>
</table>
}


@code {
    private PizzaSpecial[] serverPizzas = null;
    protected override async Task OnInitializedAsync(){
        serverPizzas = await PizzaSvc.GetPizzas();
    }
}